.speakerContainer {
  background-color: #f9f9f9;
  padding: 2rem;
}

.speakerInformationFlex {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 2rem;
  color: var(--color-black);

}

.speakerStats h2 {
  color: var(--color-teal);
  font-weight: bold;
  text-transform: uppercase;
}

.speakerStats {
  color: var(--color-black);
}

.speakerStats > div {
  margin: 1.5rem auto;
}