.aboutContainer {
  display: flex;
  margin: 3.5rem;
}

.aboutContainer img {
  margin-right: 3rem;
}

.aboutQuickInfoCell {
  margin-bottom: 1rem;
}

.aboutQuickInfoCell p, h3 {
  margin: 0;
}

.aboutQuickInfoHeader {
  color: #01B49E;
  font-weight: bold;
  text-transform: uppercase;
}

.aboutQuickInfo {
  font-size: 1rem;
}

@media only screen and (max-width: 769px) {
  .aboutContainer {
      display: block;
      margin: 2rem auto;
  }
  
  .aboutContainer img {
      margin: 0 auto;
  }

  .aboutContainer > div:first-of-type {
      text-align: center;
  }
  
  .aboutContainer > div:nth-child(2) {
      padding: 0 1.5rem 1.5rem 1.5rem;
  }
}